#datepicker {
    margin: 10px;
    padding: 2px;
    position: absolute;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
}
#header {
    position: relative;
    height: 50px;
    background-color: #cceeff;
    border: 1px solid black;
    border-radius: 4px;
}
#title {
    float: left;
    padding-top: 10px;   
    width: 290px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
#pre_button {
    float:left;
    padding-top: 15px;
    padding-left: 15px;
    height: 40px;
    width: 40px;
    font-weight: bold;
}
#next_button {
    position: absolute;
    right: 0px;
    float: right;
    padding-top: 15px;
    height: 40px;
    width: 40px;
    font-weight: bold;
}
table {
    width: 400px;
    text-align: center;
    font-size: 1.2em;
}
th, td {
    width: 25px;
    height: 40px;
    padding: 0;
}
td {
    background-color: #cceeff;
    border: 1px solid #999;
}
.today {
    background-color: #ff4da6;
    border: 1px solid #999;
}
.current {
    background-color: #b3d9ff;
    border: 1px solid black;
}